<h1>User Sign Up</h1>

<%= bootstrap_form_for @user do |u| %>
  <%= u.text_field :name %>
  <%= u.text_field :height, label: "Height (in inches)" %>
  <%= u.text_field :happiness, labe: "How happy are you? (1-5 scale)" %>
  <%= u.text_field :nausea, label: "How nauseous are you? (1-5 scale)" %>
  <%= u.text_field :tickets, label: "How many tickets are in your pocket? " %>
  <%= u.form_group :admin do %>
    <%= u.check_box :admin, label: "Check box if you are a theme park owner" %>
  <% end %>
  <%= u.password_field :password, label: "Password" %>
  <%= u.submit "Sign-Up", class: "btn btn-primary" %>
<% end %>
